
    <h1>Vehiculos En Alquiler</h1>

    <table>
        <thead>
            <tr>
                <th>Placa</th>
                <th>Nombre</th>
                <th>Color</th>
                <th>Valor Alquiler</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            
            <tr *ngFor="let car of vehiculo">
                <td>{{ car.placa }}</td>
                <td>{{ car.tipo }}</td>
                <td>{{ car.color }}</td>
                <td>{{ car.valor_alquiler }}</td>
                <td>{{ car.estado }}</td>
                <td>
                    <button (click)="seleccionarVehiculo(car)">Alquilar</button>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="alquilarVehiculoModal" tabindex="-1" role="dialog" aria-labelledby="alquilarVehiculoModalTitle" aria-hidden="true" [ngClass]="{'show d-block': mostrarModal}" [ngStyle]="{'background': mostrarModal ? 'rgba(0,0,0,0.5)' : ''}" *ngIf="mostrarModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="alquilarVehiculoModalTitle">Alquilar Vehículo</h5>
                    <button type="button" class="close" aria-label="Close" (click)="cerrarModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6>Información del Vehículo</h6>
                    <ul>
                        <li><strong>Placa:</strong> {{ vehiculoSeleccionado?.placa }}</li>
                        <li><strong>Tipo:</strong> {{ vehiculoSeleccionado?.tipo }}</li>
                        <li><strong>Color:</strong> {{ vehiculoSeleccionado?.color }}</li>
                        <li><strong>Valor Alquiler:</strong> {{ vehiculoSeleccionado?.valor_alquiler }}</li>
                        <li><strong>Estado:</strong> {{ vehiculoSeleccionado?.estado }}</li>
                    </ul>
                    <form #alquilerForm="ngForm" (ngSubmit)="alquilarVehiculo(vehiculoSeleccionado, alquiler)">
                        <label>
                            Fecha Inicio:
                            <input type="date" [(ngModel)]="alquiler.fecha_inicio" name="fechaInicio" required>
                        </label>
                        <br>
                        <label>
                            Fecha Fin:
                            <input type="date" [(ngModel)]="alquiler.fecha_entrega" name="fechaFin" required>
                        </label>
                        <br>
                        <label>
                            ID de Usuario:
                            <input type="text" [(ngModel)]="alquiler.usuario.identificacion" name="usuarioId" required>
                        </label>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cancelar</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!alquilerForm.form.valid" (click)="alquilarVehiculo(vehiculoSeleccionado, alquiler)">Confirmar</button>
                </div>
            </div>
        </div>
    </div>

    

