
.card.bg-danger {
    background: #e0e0e0 !important; /* Gris claro */
    color: #333;
    border: none;
}

.card-header {
    background: #bdbdbd !important; /* Gris medio */
    color: #333 !important;
}

.card-body.bg-dark {
    background: #fff !important; /* Blanco para contraste */
    color: #333 !important;
}

.table.table-dark {
    background: #f5f5f5 !important; /* Gris muy claro para la tabla */
    color: #333 !important;
}

.table-danger th {
    background: #eeeeee !important; /* Encabezado de tabla gris claro */
    color: #333 !important;
}

.form-control.bg-dark {
    background: #f2f2f2 !important; /* Fondo claro para inputs */
    color: #333 !important;
    border: 1px solid #000000 !important;
}

.btn.btn-danger {
    background: #bdbdbd !important; /* Gris medio para botones */
    color: #333 !important;
    border: none;
}

.fw-bold {
    color: #fffdfd;
}

.btn-iniciar{
  background-color: #444444; /* gris oscuro */
  color: #fff; /* letra blanca */
  border: none;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
}